.main-div{
    background-color: rgb(80, 80, 80);
    width: 97vw;
    height:270px;
    margin: 0px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wallet-div{
    background-color: gray;
    width: 350px;
    height:200px;
    margin: 0px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expenses-div{
    background-color: gray;
    width: 350px;
    height:200px;
    margin: 0px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-div{
    background-color: gray;
    width: 350px;
    height: 200px;
    margin: 0px 10px;
    border-radius: 15px;
}


.wallet-subHeading{
    color: white;
    font-weight: bold;
    font-size: 28px;
}
.money{
    color: rgb(157, 255, 91,1);
}

.wallet-btn{
    margin: 15px;
    width: 130px;
    height: 40px;
    font-weight: 700;
    color: white;
    background-color: rgba(181, 220, 82, 1);
    border: 1px solid rgba(181, 220, 82, 1);
    border-radius: 10px ;
}

.expenses-subHeading{
    color: white;
    font-weight: bold;
    font-size: 28px;
}

.E-money{
    color:rgb(244, 187, 74,1);
}

.expenses-btn{
    margin: 15px;
    width: 130px;
    height: 40px;
    font-weight: 700;
    color: white;
    background-color: rgba(255, 56, 56, 1);
    border: 1px solid rgba(255, 56, 56, 1);
    border-radius: 10px ;
}

.hero-sub-section{
    display: flex;
}